
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Online shopping for Men, Women, Kids & Lifestyle | Vysta</title>
    
    
    {% block css %}
    {% endblock css %}


</head>

<body>
   
    
    {% block navbar %}
    {% include 'structure/navbar.html' %}
    {% endblock navbar %}

    {% block section %}
    {% endblock section %}  

    {% block footer %}
    {% include 'structure/footer.html' %}
    {% endblock footer %}    

    {% block extra_js %}    
    {% endblock extra_js %}

    {% block javascript %}
    {% include 'structure/javascript.html' %}
    {% endblock javascript %}

</body>

</html>
